.profile_container {
  margin-left: 0.8rem;
  width: 624px;
  flex: 1 1 624px;
}

@media (max-width: 479px) {
  .profile_container {
    margin-left: 0;
    width: 100%;
    flex: 0 0 100%;
  }
}

.button_redirect_create {
  border-radius: 4px;
  background-color: var(--blue-color);
  font-weight: 600;
  font-size: large;
  border: 1px solid transparent;
  color: var(--white-color);
  padding: 0.8rem 1.6rem;
  transition: transform ease 300ms;
  cursor: pointer;
}

.button_redirect_create:hover {
  transform: scale(1.1);
}
