.video_post {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem 0;
}

.video_post::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleY(0.5);
  -moz-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
  background: rgba(22, 24, 35, 0.2);
}

.video_post_header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.video_post_username {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.video_post_username > h3 {
  font-size: 1.2rem;
  margin: 0;
  font-weight: 700;
}

.video_post_username > h4 {
  font-size: 1.1rem;
  margin: 0;
  font-weight: 400;
}

.video_post_description {
  text-align: left;
}

.video_wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.video {
  position: relative;
  width: 60%;
  height: 600px;
}

@media (max-width: 479px) {
  .video {
    width: 100%;
    height: 440px;
  }
}

.video_player_container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.video_player_container > video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.player {
  width: 62px;
  height: 62px;
  background-image: url(player.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  inset: 0;
  margin: auto;
  border: none;
  background-color: transparent;
}

.hidden {
  opacity: 0;
}

.video_actions_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.action_button {
  position: relative;
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background: none;
  padding: 0;
}

.like_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  /*   background-color: rgba(22, 24, 35, 0.06); */
  background-color: var(--bg-light-grey-color);
  margin-top: 8px;
  margin-bottom: 6px;
  font-size: 0;
  transition: 300ms all ease;
}

.like_icon:hover > svg > path {
  fill: var(--red-color);
}

.like_icon > svg > path {
  fill: var(--light-grey-color);
}

.number_likes_post {
  color: rgba(22, 24, 35, 0.75);
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  text-align: center;
}

.play_icon_container {
  position: absolute;
  left: 12px;
  bottom: 24px;
  width: 40px;
  height: 40px;
}

.liked > svg > path {
  fill: var(--red-color);
}

.deleteButton {
  margin-left: auto;
  border: none;
  border-radius: 4px;
  background: transparent;
  cursor: pointer;
  transition: all ease 250ms;
  padding: 0.4rem 0.6rem;
}

.deleteButton > svg {
  fill: var(--grey-color);
}

.deleteButton:hover > svg {
  fill: var(--red-color);
  /*   transition: 250ms all ease; */
}

.deleteButton:hover {
  background-color: var(--bg-light-grey-color);
}
