:root {
  --white-color: #f4fdff;
  --black-color: #0c0c0c;
  --blue-color: #09f;
  --light-grey-color: rgba(22, 24, 35, 0.2);
  --grey-color: rgb(138, 139, 145);
  --font-lg: 1.2rem;
  --red-color: rgba(254, 44, 85, 1);
  --blue-light-color: #e6f3fc;
  --bg-light-grey-color: rgba(103, 108, 138, 0.12);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  width: 100vw;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-self: center;
  flex: 1 1 auto;
}
